body {
    background: rgb(58, 138, 180);
    background: linear-gradient(190deg, rgba(58, 138, 180, 1) 0%, rgba(29, 184, 253, 1) 43%, rgba(252, 176, 69, 1) 100%);
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

.glass{
    backdrop-filter: blur(1px) saturate(100%);
    -webkit-backdrop-filter: blur(3px) saturate(180%);
    background-color: rgba(74, 74, 74, 0.1);
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.rounded{
    border-radius: 12px;
}